#particle-container {
 width:500px;
 height:500px;
 margin: 30px auto;
 box-shadow: 0px 0px 0px 1px #999;
 padding: 0px;
}
.particle {
 background: orangered;
 width:1px;
 height:1px;
 box-shadow:0 0 0 3px orangered;
 border-radius:5px;
 position: absolute;
/* transition: 100ms transform linear;  */
}
.particle.red {
 box-shadow:0 0 0 3px red;
 background: red;
}
.particle.blue {
    box-shadow:0 0 0 3px blue;
    background: blue;
}
.particle.pink {
    box-shadow:0 0 0 3px palevioletred;
    background: palevioletred;
}
.particle.cyan {
    box-shadow:0 0 0 3px cyan;
    background: cyan;
}
.particle.green {
    box-shadow:0 0 0 3px green;
    background: green;
}
