#container {
 width:600px;
 height:600px;
 margin: 30px auto;
 box-shadow: 0px 0px 0px 1px #999;
 padding: 1px;
}
.particle {
 background: #444;
 width:3px;
 height:3px;
 border-radius:5px;
 transition: 100ms transform linear;
}